<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact me at phone number: 01654171471 or email: nguyenpeter.edu@gmail.com<br />
	Contact Ruby on Rails Tutorial about the sample app at the 
	<a href="http://railstutorial.org/contact">contact page</a>
</p>
	