<footer class="footer">
  <small>
    Copyright © 2014 <a href="<%= welcome_index_path %>">Tường Nguyễn Blog</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Giới thiệu",    welcome_about_path %></li>
      <li><%= link_to "Liên Hệ", welcome_contact_path %></li>
      <li><%= link_to "Blog", articles_path %></li>
      <li><a href="#">Đăng nhập</a></li>
    </ul>
  </nav>
</footer>
